

<div class = 'comment-container'>
  <div class = 'comment-body'>
  <%= comment.body %>
  </div>
  <div class = 'comment-footer'>
    <div class = 'comment-author'>
      posted by: <%= comment.commenter %>
    </div>

    <div class = 'comment-delete'>
      <%= link_to 'Delete comment', [comment.article, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' }, class: 'button' %>
    </div>
  </div>

</div>
