

<div class = 'comment-container'>
  <div class = 'comment-body'>
  <%= comment.body %>
  </div>
  <div class = 'comment-footer'>
    <p>posted by: <%= comment.commenter %></p>

    <%= link_to 'Delete comment', article_comments_path(comment),
                   method: :delete,
                   data: { confirm: 'Are you sure?' }, class: 'button' %>
  </div>

</div>
