
<div class = 'comment-container'>
  <div class = 'comment-body'>
  <%= comment.body %>
  </div>
  <div class = 'comment-footer'>
    posted by: <%= comment.commenter %>

    <%= link_to article_comment_path(comment.article, comment),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } do %>
                   <i class="fas fa-trash-alt"></i>
                   <% end %>
  </div>

</div>
