// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-container {
  border: 1px solid #000;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.comment-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
